.listComponent {
  width: 100%;
  display: flex;
  padding: 10px;
  border: 1px solid #00000010;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.listComponent div {
  display: grid;
  align-items: center;
}

.listComponent img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
