.swiper-slide {
  display: flex;
  justify-content: center;
  height: auto;
}
.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  color: #8d43e792;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #8e43e7;
}

.swiper-pagination-bullet-active {
  background-color: #8e43e7;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 1rem 0 0 0;
}
.sec2_main > ul,
.sec3_main > ul,
.sec5_main > ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.sec3_main > ul > li > img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}
.sec5_main div {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.sec5_main > div > button.on {
  background-color: #8e43e7;
  color: #fff;
}
.sec5_main > div > button {
  border: 1px solid #00000015;
  background-color: #fff;
  border-radius: 48px;
  padding: 10px;
  font-weight: bold;
}
.sec5_main > div > button:hover {
  background-color: #8d43e733;
  transition: 0.3s;
}

.sec5_main > ul > li > img {
  width: 200px;
  border-radius: 30px;
}

.sec1_main,
.sec4_main {
  width: 100vw;
  margin-left: calc((100vw - 100%) / -2);
}
