.card,
.pick {
  border: 1px solid #00000011;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img,
.pick img {
  width: 100%;
  max-height: 400px;
  min-height: 200px;
  object-fit: cover;
}

.contents {
  margin-inline: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}
.contents :first-of-type {
  font-weight: bold;
}
.genre {
  display: inline-block;
  padding: 4px 10px;
  background-color: #8e43e7;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 6px;
}

.pick.selected {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
